# Homework 1: Data Wrangling and Cleaning
> | Due Midnight 18/01/2023 
In this homework, you will familiarize yourself with Pandas üêº! The cutest animal and one of the essential libraries for Data Science. This homework is focused on one of the most important tasks in Data Science, preparing datasets so that they can be analyzed, plotted, used for machine learning models, etc...

This homework will be broken into analyzing some datasets across four sections (although section 1 has the most sub-parts)!

1. Working with a historical dataset on the Olympics Games

2. Working with 2020 Olympics in Tokyo and Countries Data and  a merged/joined version of the datasets (More on this later...) 

**Note: Before starting, you must click on the "Copy To Drive" option in the top bar. This is the master notebook so <u>you will not be able to save your changes without copying it </u>! Once you click on that, make sure you are working on that version of the notebook so that your work is saved** 

Run the following two cells to setup the notebook

In [1]:
%%capture

# Import neccessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
from string import ascii_letters
import matplotlib.pyplot as plt
import datetime as dt
import requests
from lxml import html

ModuleNotFoundError: No module named 'pandas'

#What is Pandas?

<div class = "row">
<div class="column">
Apart from animals, Pandas is a Python library to aid with data manipulation/analysis. It is built with support from Numpy. Numpy is another Python package/library that provides efficient calculations for matricies and other math problems.
</div><div class="column">
<p class="d-flex" align = "center">
<img src = "https://thehill.com/sites/default/files/styles/article_full/public/panda_getty.jpg?itok=4ce_5sip" height= "200" align ="center"/>
<img src = "https://cff2.earth.com/uploads/2016/09/08101343/giant-panda-bear_1big_stock1.jpg" height= "200" align ="center"/>
</p>
</div>
</div>

In [ ]:
# TODO: In this cell, put which panda activity you prefer in lowercase(eating or sleeping)
# Input activity name in all lowercase
favorite_activity = ""

#Datasets

We can't be data scientists without data! We provided code for you to download the data (the "wget" cell from earlier). If you go to the view on the left and click files, you should see something similar to this image --

![filesimage](https://drive.google.com/uc?id=1jJrEQz5nsPtTf8J1VNXDl9ewzHqkrc-T)

#Part 1: Working with Olympics History Data

You undoubtedly know that the Olympic Games were held this past summer.  But how do they relate to past Olympics games?

In this part of the homework we will be working with a dataset focused on the Olympics! 

We are using an adapted version of the  120 years of Olympic History dataset from [Kaggle](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). This dataset contains information about athletes and the medals  they won(if any) in the different sports that they participated in (from 2000 to 2016). 


Let's first load our dataset into a Pandas Dataframe. Use pandas <code>read_csv</code> functionality, which you can find documentation for here:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

While reading documentation is hard at first, we **strongly encourage you** to get into a good habit of it, since many times your questions will be answered directly by the documentation (ex: "why isn't my dataframe dropping duplicates" or "why didn't this dataframe update").

#### **TODO**
- Save the Olympics dataframe to a variable named: <code>olympics_history_df</code>

In [ ]:
# TODO: Import the Olympics_history file to a pandas dataframe -- make sure the dataframe is named correctly!

Let's focus on the `olympics_history_df` for now and see what the dataframe looks like. Display the first 10 rows of the dataframe in the cell below (take a look at the documentation to find now to do this!)

In [ ]:
# TODO: Display the first 10 rows of `olympics_history_df`

Another thing that is often times helpful to do is inspect the types of each column in a dataframe. Output the types of `olympics_history_df` in this cell below.

In [ ]:
# TODO: Display the datatypes in `olympics_history_df`

Save the types of the ID, Name, Weight, and City columns to a series and pass them into the autograder cell below. Name the variable that you save to olympics_history_df_types

In [ ]:
# TODO: Just a warmup to get exposed to indexing and series vs. dataframe

In [ ]:
# View the output here!
olympics_history_df_types

*Pass* olympics_history_df_types into the "answer" parameter below (4 points)

In [ ]:
# TEST CASE: check olympics_history_df_types (4 pts)
# answer = olympics_history_df_types
grader.grade(test_case_id ="olympics_history_df_types" , answer = olympics_history_df_types)

##1.1 Dropping data

When you work with data, you'll have NaNs, duplicates or columns that don't give much insight into the data. There are different ways to deal with missing values (i.e. imputation, which you can read about on your own, and we'll cover later in the semester), but for now, let's drop some of these rows to clean up our data. Note that there might be multiple ways to do each step.


Refer to the documentation if you get stuck -- it's your best friend!

<br>

#### **TODO: 1.1**

- Drop the rows where `Medal` is NaN
- Save the result to `olympics_history_medals_df` (4 points)

Using `olympics_history_medals_df`,
- Drop duplicate rows
- Drop rows that have nulls (e.g. NaN) in them
- Drop the "City" and "Team" columns. These columns aren't neccessary for the rest of the homework.
- Save the result to `olympics_history_df_cleaned` (4 points)

In [ ]:
#  TODO:drop rows where athletes did not win medals

In [ ]:
# TEST CASE: check olympics_history_medals_df (4 pts)
grader.grade(test_case_id = "olympics_history_medals_df" , answer = olympics_history_medals_df)

In [ ]:
# TODO: Drop duplicate rows

In [ ]:
# TODO: Drop rows that have any nulls (NaN) in them

In [ ]:
# TODO: Drop the  City and Team columns

View your dataframe again to check if you dropped the columns and the appropriate rows properly:

In [ ]:
olympics_history_df_cleaned

Pass the cleaned Olympics history dataframe to the following cell as the input for the "answer" parameter (4 points)

##1.2 Data Wrangling 

Now, let's process the data in an appropriate format so that we can answer some queries more easily. Make sure to use `olympics_history_df_cleaned` from now onwards.

**TODO: 1.2**

*   Change the type of 'Age' column to float 
*   Split the 'Games' column into 2 columns:  Year and Season (Winter or Summer)
*   Make sure that only the first letter for `Season` is capitalized (Winter, Summer). We want to make all the entries consistent, you will notice that some rows have "WINTER" while others have "Winter".
*   Convert Year to type int
*   Drop the Games column

See `astype` in Pandas documentation for the type conversion.

In [ ]:
##  TODO: convert column Age to float

In [ ]:
##  TODO: look at the datatypes to confirm

In [ ]:

##  TODO: Split the 'Games' column + others mentioned above

In [ ]:
olympics_history_df_cleaned

##1.3 What is the average age of players who won medals?

Now that we pre-processed our data, let's start with a query.

#### 1.3 We will compute the average age of players who won gold, silver and bronze medals for each sport.

**TODO: 1.3**


*   See the `groupby()` function 
*   The average age for Gold, Silver and Bronze must be to 1 decimal place. See the `round()` function
*   Make sure that your answer has a single row for each sport and a column with the average age for each medal. (bronze_age, silver_age, gold_age)
*   Save the result to `avg_medal_age_df` (5 points)

In [ ]:
## TODO 1.3

##1.4 Which countries have the highest gold medal count in 2016? 
Here we will calculate the number of gold medals won by each country in 2016

**TODO: 1.4**


*   Get the rows where athletes won gold medals in 2016
*   Count the number of medals for each country. Hint: see the `groupby` function 
*   Make sure that you name the count column as "Gold_count"
*   Sort the entries in decreasing order of medals. 
*   Save the first 10 rows in the dataframe `olympics_16_gold`
*  Make a plot of this data using the matplotlib package

In [ ]:
## TO DO 1.4

Plot a bar plot of the 10 countries with the highest gold medal count in 2016. We will be manually grading this, and we understand there will be a lot of differences between individual plots -- so don't worry too much about this. (4 points)

<br>

We're going to be making sure your plots are correct and reasonable; small things like axes labels and colors we'd invite you to do if you want to make your plot better and more useful to an end-user. We likely won't be answering questions about the specifics here as a result!

In [ ]:
#  TODO: Create a plot using matplotlib. - 4 points. 
# You may also use other libraries like plotly or seaborn if you like, but we can't guarantee the same level of help for these other libraries

##1.5 Looking at Country data

Now let's bring in our dataset about countries. 

Just like our `olympics_history_df`, we need to clean and prepare our country data (more data wrangling!). First,visualize the `country_df` below to take a look at it.

In [ ]:
## TO DO: Take a look at country_df (the rows, the data types of columns) and import it

In [ ]:
countries_df





#### **TODO: 1.5.1**
- For each row, calculate the number of NaNs(`total_null`) and the name of the first column with NaN (`first_null`).

Before we clean this dataframe,  we want to get an idea for the extent of the null values in the dataframe. For each row in countries_df, we want to know the **total number of NaNs and the column which contains first null value.**

Create a dataframe named `row_null` that has the answer to this question. You may find that functions like `sum()` and `idxmax()` might be helpful -- we'd recommend looking at the documentation to think about how to use these before asking on Piazza!

In [ ]:
# TODO: Create a dataframe named row_null with columns first_null and total_null. 
# first_null is the first column of the row with a null, if no nulls in the row, set it to NaN. total_null is the number of nulls in a row.

#### **TODO: 1.5.2**



*   Drop the following columns from countries_df: 
  
  Unemployment, Labour force participation ,Population growth rate ,Refugees and others of concern to UNHCR , Seats held by women in national parliaments

In [ ]:
## TO DO: 1.5.2 drop columns

In [ ]:
countries_df

#Part 2: Combining the data

When you become a full time data scientist, a lot of times, data will be spread out across multiple files/tables. The way to combine these tables is through join/merge operations. If you're familiar with SQL, this will be very familiar to you. If not, don't worry. I believe in you!

To start, here's a nice diagram which shows you the different types of joins


<p align = "center">
<img src = "https://i.stack.imgur.com/hMKKt.jpg" width= "600" align ="center"/>
</p>

A clarifying point: The two venn diagrams with the "(if Null)" are also called Left Outer Join and Right Outer Join

## Section 1: Working with Olympic Games Tokyo 2020 data

Now that we have looked at data cleaning and basic queries that we can do with pandas using History of Olympics data, let's take a look at how we can get insights by combining multiple datasets!

In the past summer, from July 23 to August 8, Olympic Games was held in Tokyo. 
We have 4 .csv files that covers different parts of the Tokyo Olympics datasets: athletes, coaches, medals and teams. We have UN country datasets as well. 


---



Let's first get both of our datasets loaded into Pandas Dataframes, one for each of the datasets. Use pandas' <code>read_csv</code> functionality, which you can find documentation for here:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

While reading documentation is hard at first, we **strongly encourage you** to get into a good habit of it, since many times your questions will be answered directly by the documentation (ex: "why isn't my dataframe dropping duplicates" or "why didn't this dataframe update").

#### **TODO: Load Files**
- Save the athletes dataframe to a variable named: <code>athletes_df</code>
- Save the coaches dataframe to a variable named: <code>coaches_df</code>
- Save the medals dataframe to a variable named: <code>medals_df</code> (2 point)

In [ ]:
# TODO: Import your files to pandas dataframes -- make sure the dataframes are named correctly!

### 2.1.1 National Sports Team

Queries: Let's take a look at the coaches and athletes of each "national sports team". The German Athletics team would be an example of a "national sports team".

Step 1: Create a DataFrame named athletes_ct with three columns: NOC, Discipline, Athlete_Counts

In [ ]:
# TODO: Step 1: You should have a DataFrame named athletes_ct with three columns: NOC, Discipline, Athlete_counts

Step 2: Create a DataFrame named coaches_ct with three columns: NOC, Discipline, Coach_counts

In [ ]:
# TODO: Step 2: You should have a DataFrame named coaches_ct with three columns: NOC, Discpline, Coach_counts
# Assume the coaches for either 'Event' are on the same national team

Step 3: (Inner) Join the two DataFrames on each national team and discipline. Save the joined dataframe as `teams_df`, and calculate the coach to athlete ratio (save as a 'coach_to_athlete_ratio' column).

In [ ]:
# TODO: Step 3

In [ ]:
teams_df

Step 4: What are the top 10 national teams that have 'ball' in their Disciplines with the highest coach to athlete ratios?

* Extract the top 10 rows following the above criteria from `teams_df` to `highest_coach_to_athlete_10_df`
* Hint: look at `nlargest()`

In [ ]:
# TODO: Extract the top 10 rows following the above criteria from teams_df to highest_coach_to_athlete_10_df

### 2.1.2 Medals Count Board

Step 0. Take a look at the medals DataFrame

In [ ]:
medals_df.head(10)

                     Team/NOC  Gold  Silver  Bronze
0    United States of America    39      41      33
1  People's Republic of China    38      32      18
2                       Japan    27      14      17
3               Great Britain    22      21      22
4                         ROC    20      28      23
5                   Australia    17       7      22
6                 Netherlands    10      12      14
7                      France    10      12      11
8                     Germany    10      11      16
9                       Italy    10      10      20

Step 1. Find the total (gold, silver, and bronze) medals count and save the result as a 'Total' column

Step 2. Create a new column 'Rank by Total' that has the rank number for each Team/NOC, based on total medals count

Step 3. Sort the rows based on the following criteria for tiebreakers: Gold > Silver > Bronze > alphabetically on Team/NOC. Create a new column 'Rank' with the rank number according the the criteria. Hint: `sort_values`

## Section 2: Working with UN countries data
In this part we do some basic data cleaning/wrangling and calculation on the UN countries data.

Let's do some column-wise calculations and rankings

### 2.2.1 Population and surface area

Step 1. Set '~0' in the Surface area column to NaN, then drop all rows that is a null in the Surface area column. Convert the Surface area column to 'float'. Calculate density of population for each country and save the result as another column "population density".

In [ ]:
# population density

Step 2. What are the top 10 crowded countries? Save them as list variable named "most_crowded_countries"

In [ ]:
# top 10 crowded countries

Step 3. What are the top 10 least crowded countries?

In [ ]:
# top 10 least crowded countries

Step 4. Rank the regions based on decreasing average population density

In [ ]:
# average population density
# a dataframe with column 'Region', 'avg_population_density', 'rank'

### 2.2.2: GDP

1. Using the UN countries "GDP: Gross domestic product (million current US$)" and "Population in thousands (2017)" columns

2. Calculate GDP per capita, save as a 'GDP_per_capita' column, make sure that the unit is right!

## Section 3: Merging Olympics in Tokyo dataset and UN Countries datasets

Queries: Medals count per capita?

Step 1. Make sure the country name in your medals_df and countries_df are in the same naming convention

In [ ]:
medals_df['Team/NOC']

In [ ]:
countries_df['country']

2. Left join `medals_df` (left) and `countries_df` (right) into `medals_countries_df`, and calculate total medals count per 1000 capita - Out of a thousand citizens, how many medals are won?

In [ ]:
# Create a column in medal_df named `medals_per_1000_capita`. Your medals_df should have the same number of rows. If there isn't a match in countries_df, put NaN in the cell.

# Part 3

Let's now look at the dataframe that you just merged from the Part 2, section 3.

##3.1 Correlation Matrix

We want to see if there is any correlation between the GDP per capita of countries and the number of medals won, and **if there is a correlation, how strong is it?**


#### **TODO: 3.1**


- Generate the correlation matrix.  *Hint*: Read about Pandas "corr()" function.

- Name your final answer correlation matrix dataframe to: `correlation_matrix` (5 points)

- Plot a correlation matrix -- just to get a sense of what it might look like!

In [ ]:
# TODO: Create your correlation matrix

Submit the correlation matrix to the autograder 
(5 points)

Here we provide code for you to visualize the correlation matrix. In the following code snippet below, please assign your correlation matrix to the variable named "corr" and then run the cell. You should see a correlation matrix!

In [ ]:
sns.set(style = "white")

# Generate a large random dataset
rs = np.random.RandomState(33)
d = pd.DataFrame(data=rs.normal(size=(100, 26)),
                 columns=list(ascii_letters[26:]))

# Compute the correlation matrix
# ASSIGN THE "corr" VARIABLE TO YOUR CORRELATION MATRIX
corr = correlation_matrix

# Generate a mask for the upper triangle
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})
plt.title("Correlation Heatmap: Olympics Medals & Countries Data")
plt.show()